@import "font.css";
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}
.container{
    width: 1280px;
    margin: 0 auto;
    background-image: url("../img/background@1X.png" )  ;
    background-repeat: no-repeat;
    background-size: cover;

}

.header{
    display:inline-block;
    margin-top: 30px;
    margin-left: 12%;
    font-family: 'Lato',sans-serif;

}
.header-contact{

    display: inline-block;

float:right;
}
.darkmode{
    background-color: rgba(0,0,0,0.5);
}

.contact{
    margin-right: 210px;
    line-height: 1.5;
    text-align: end;
    font-size: 16px;
    float: right;
    padding-top: 54px;
    color: white;
    padding-bottom: 0;
}
.a{
    text-decoration: none;

}
.header:hover{
    color: darkorange;
}
.text-milan{
    text-decoration: none;
    display: inline-block;
}
.text-holidays{
    font-size: 91%;
}
.logo-text{
    display: inline-block;
    color: #ffffff;
    font-size: 36px;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

}

.hover{
    background-color: darkorange;

}
.logo-image{
   width: 75px;
    height: 60px;
}


.images-list-1 {
    margin-left: 50px;

    width: calc(100% / 4 - 30px);
    display: inline-block;
    padding-bottom: 34px;
    margin-top: 35px;
    font-family:'Lato',sans-serif;
}

.images-list-1:hover{
    color: orange;
    padding-bottom: 20px;
    font-size: medium;
}
.images-text {
    color: white;
    margin-top: 20px;
    margin-left: 50px;
}
.images-list-1-pictures {
    margin-left: 12%;

}
.images-list-one{
    max-width: 250px;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-image:
            linear-gradient(
                    to bottom,
                    white,
                    rgba(0, 0, 0, 0)
            ) 1 10%;
}

.images-text:hover{
    color: orange;

}
.footer{
    text-align: center;
    color: white;
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
}
